<div class="row">
  <div class="col-xs-12">
      <div class="box">

        <div class="box-header with-border">
          <h3 class="box-title">List of Users</h3>
          <div class="box-tools pull-right">
            <%= link_to 'New User', new_admin_user_path, class: 'btn btn-success pull-right' %>
          </div>
        </div>

        <div class="box-body">
          <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

            <div class="row">
              <div class="col-sm-12">
                <table id="datatable_tbl" class="table table-bordered table-hover dataTable" role="grid">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Status</th>
                      <th class="col-xs-1">Actions</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @users.each do |user| %>
                      <tr>
                        <td> <%= user.name %> </td>
                        <td> <%= user.email %> </td>
                        <td>
                          <% if user.status == 1 %>
                             <a href="javascript:void(0)" id="changeStatus-Active-<%= user.id %>" class="btn btn-info btn-xs"><i class="fa fa-thumbs-up"></i> Active</a> 
                          <% else %>
                              <a href="javascript:void(0)" id="changeStatus-Inactive-<%= user.id %>" class="btn btn-danger btn-xs"><i class="fa fa-thumbs-down"></i> Inactive</a> 
                          <% end %>

                          
                         </td>
                        <td>
                          <div class="btn-row">
                            <%= link_to raw('<i class="fa fa-cogs"></i>'), edit_admin_user_url(user), class: 'btn btn-sm btn-warning' %>
                            <%= link_to raw('<i class="fa fa-trash"></i>'), admin_user_url(user), class: 'btn btn-sm btn-danger', method: :delete,
                                            data: { confirm: 'Are you sure you want to delete this element?' } %>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>

                </table>
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>
</div>
